.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero1 paragraph1 paragraph2 hero2"
    "hero1 boton1 boton2 hero2"
    "baner1 baner1 baner1 baner1"
    "ft1 ft2 ft3 ft4";
}

.hero1 { grid-area: hero1;
background-color: black; }

.paragraph1 { grid-area: paragraph1;
background-color: rgb(39, 184, 228);}

.boton1 { grid-area: boton1;
  background-color: rgb(255, 6, 6); }

.paragraph2 { grid-area: paragraph2;
  background-color: rgb(114, 23, 199); }

.boton2 { grid-area: boton2;
  background-color: rgb(200, 233, 17); }

.hero2 { grid-area: hero2;
  background-color: rgb(90, 179, 90); }

.baner1 { grid-area: baner1;
  background-color: rgb(2, 104, 122); }

.ft1 { grid-area: ft1;
  background-color: rgb(235, 99, 201); }

.ft2 { grid-area: ft2;
  background-color: rgb(255, 255, 255); }

.ft3 { grid-area: ft3;
  background-color: rgb(0, 3, 204); }

.ft4 { grid-area: ft4;
  background-color: black; }
